# ignore the secret key
.env
# ignore data and output directory
SoTTA_dataset/
# results*/
ckpt/
data_analysis/*/
*pkl/
wandb_local/
# Byte-compiled / optimized / DLL files
__pycache__/

# vscode debug
# .vscode/
TDA/
~/

data_analysis/

results/