einops==0.8.1
ftfy==6.3.1
matplotlib
ml_collections
numpy==1.25.1
pandas==2.3.2
Pillow==11.3.0
regex==2024.11.6
scikit_learn==1.6.0
scipy==1.6.0
seaborn==0.13.2
setuptools==78.1.1
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
wandb==0.21.4
